export QT_QPA_PLATFORMTHEME="qt5ct"
export QT_STYLE_OVERRIDE="qt5ct"
export QT_QPA_PLATFORMTHEME="qt6ct"
export TERMINAL=alacritty

xrandr --output HDMI-0 --primary --scale 1.35x1.35 --mode 1920x1080 --rate 60 &

xfce4-power-manager --sm-client-disable --daemon &

# redshift-gtk &

# --- Display / Saver ---
# export XSECURELOCK_SAVER=saver_mpv
# export XSECURELOCK_IMAGE_PATH=/home/tda/.local/share/wallpapers/ba-2.png
# export XSECURELOCK_SAVER=saver_multiplex
# export XSECURELOCK_IMAGE_PATH=/home/tda/.local/share/wallpapers/ba-2.png
export XSECURELOCK_SAVER=saver_xscreensaver
export XSECURELOCK_XSCREENSAVER_HACK=glslideshow
# export XSECURELOCK_SAVER=saver_wallpaper
# export XSECURELOCK_IMAGE_PATH=/home/tda/.local/share/wallpapers/ba-2.png
# export XSECURELOCK_NO_COMPOSITE=1          # bypass compositing
export XSECURELOCK_BLANK_DPMS=1            # allow DPMS off
# export XSECURELOCK_BLANK_TIMEOUT=120       # blank after 2 min
export XSECURELOCK_BLANK_DPMS_STATE=off
export XSECURELOCK_SHOW_DATETIME=1         # show clock for orientation
export XSECURELOCK_SHOW_USERNAME=1         # show username on lock

# --- Authentication ---
# export XSECURELOCK_AUTH=auth_pam           # PAM-based auth
# export XSECURELOCK_PAM_SERVICE=xsecurelock # use dedicated PAM service

# --- Input Restrictions ---
export XSECURELOCK_NO_VT_SWITCH=1          # disable Ctrl+Alt+F1-12
export XSECURELOCK_DISCARD_FIRST_KEYPRESS=0 # drop accidental input at wake
# export XSECURELOCK_KEYBOARD_GRAB=1         # grab all key input aggressively
# export XSECURELOCK_MOUSE_GRAB=1            # same for mouse
# export XSECURELOCK_HIDE_CURSOR=1           # invisible cursor

# --- Feedback ---
# export XSECURELOCK_AUTH_BACKGROUND_COLOR=000000
# export XSECURELOCK_AUTH_FOREGROUND_COLOR=FFFFFF
# export XSECURELOCK_AUTH_WARNING_COLOR=FF0000
# export XSECURELOCK_PASSWORD_PROMPT=asterisks # hide input
export XSECURELOCK_SHOW_FAILURE_COUNT=1

